.filterButton
    display: flex
    justify-content: space-between
    align-items: center
    width: 550px
    margin: 0 auto
    button
        width: 33%
        padding: 5px
        height: 32px
        border: 2px solid blue
        cursor: pointer
        color: blue
        background: white
        border-radius: 5px
        &:focus
            color: white
            background: blue
    .allFilterBtn, .favoritFilterBtn, .doneFilterBtn
        font-size: 15px
        font-weight: 700
